<p class="meta">
  <span class="byline author vcard">
    Posted by <span class="fn">{{ article.author }}</span>
  </span>
  {% include '_includes/article_time.html' %}
  {% if article.tags %}
  <span class="categories">
    {% for tag in article.tags %}
    <a class="category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  <br>
  <span style="font-size:14px;color:green">
  Advertiser Disclosure: All Amazon links are affiliate links, which means I receive compensation for any purchases through them. You do not have to purchase via my links, but you support me if you do.
  </span>
</p>
